
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

$font-primary: 'Yanone Kaffeesatz', sans-serif;
$bg-color:#ffc1a2;
$white-color: #f2f2f2;
$text-color: #494a4b;
$orange-color: #fe7345;
$gray-color: rgba(73,74,75,.45);