<div class='card-footer'>
    <div hidden>
        <img src="" class='card-icon'></img>
        <p class='card-desc'>Congrat, you have no more tasks to do</p>
    </div>
    <div>
        <p class='card-count' id="count-item-todo"></p>
    </div>
</div>
<script>
    let cardItem = document.querySelectorAll('.show-item-js')
    document.getElementById('count-item-todo').innerHTML = cardItem.length + ' item left'
</script>