<div class='card-footer'>
    <div hidden>
        <img src="" class='card-icon'></img>
        <p class='card-desc'>Congrat, you have no more tasks to do</p>
    </div>
    <div>
        <p class='card-count'>1 item left</p>
    </div>
</div>