<div class="card-body">
    <h3>~ Today I need to ~</h3>
    <div class='card-form'>
        <input placeholder='Add new todo...' class='w-350 card-input'>
        <a href="#" class="card-button">Add</a>
    </div>
    <div class='card-todo'>
        <div class='card-item'>
            <div class='card-check'>
                <input type="checkbox" class="card-checkbox"></input>
                <p class=''>dsa</p>
            </div>
            <div class='card-update'>
                <img src="/img/update(1).png" class='card-icon my-mr10'></img>
                <img src="/img/delete.png" class='card-icon'></img>
            </div>
        </div>
        <div class='card-item'>
            <div class='card-check'>
                <input type="checkbox" class="card-checkbox"></input>
                <p class=''>dsa</p>
            </div>
            <div class='card-update'>
                <img src="/img/update(1).png" class='card-icon my-mr10'></img>
                <img src="/img/delete.png" class='card-icon'></img>
            </div>
        </div>
        <div class='card-item'>
            <div class='card-check'>
                <input type="checkbox" class="card-checkbox"></input>
                <p class=''>dsa</p>
            </div>
            <div class='card-update'>
                <img src="/img/update(1).png" class='card-icon my-mr10'></img>
                <img src="/img/delete.png" class='card-icon'></img>
            </div>
        </div>
    </div>
</div>